<h1>About Blocipedia</h1>
<p>The fundamental principles by which Blocipedia operates are the five pillars. 
The Blocipedia community has developed many policies and guidelines to improve 
the encyclopedia; however, it is not a formal requirement to be familiar with 
them before contributing.</p>


<p>Blocipedia is a live collaboration differing from paper-based reference sources 
in important ways. Unlike printed encyclopedias, Blocipedia is continually created 
and updated, with articles on historic events appearing within minutes, rather 
than months or years. Because everybody can help improve it, Blocipedia has become 
more comprehensive than any other encyclopedia. In addition to quantity, its 
contributors work on improving quality as well. Blocipedia is a work-in-progress, 
with articles in various stages of completion. As articles develop, they tend to 
become more comprehensive and balanced. Quality also improves over time as 
misinformation and other errors are removed or repaired. However, because 
anyone can click "edit" at any time and add stuff in, any article may contain 
undetected misinformation, errors, or vandalism. Awareness of this helps the 
reader to obtain valid information, avoid recently added misinformation 
and fix the article.</p>
