<h1>Welcome to Blocipeida</h1>
<p>Blocipedia is a web-based, free-content encyclopedia project supported by the 
Blocipedia Foundation and based on a model of openly editable content. 
Blocipedia's articles provide links designed to guide the user to related pages 
with additional information.</p>

<p>Blocipedia is written collaboratively by largely anonymous volunteers who write 
without pay. Anyone with Internet access can write and make changes to Blocpedia 
articles, except in limited cases where editing is restricted to prevent 
disruption or vandalism. Users can contribute anonymously, under a pseudonym, 
or, if they choose to, with their real identity.</p>
